## Getting the coordinates for each city

In [159]:
import pandas as pd
import numpy as np

In [2]:
from private.s3_aws import access_key, secret_access_key

In [3]:
cities = pd.read_csv(f"s3://cleandatagrupo07/cities.csv",
    storage_options={
        "key": access_key,
        "secret": secret_access_key
    },
)

In [4]:
cities

                Unique_City_ID            City     County State
0         oak_grovechristianky       Oak Grove  Christian    KY
1        jarvisburgcurritucknc      Jarvisburg  Currituck    NC
2         mcminnvilleyamhillor     McMinnville    Yamhill    OR
3         union_townshiperiepa  Union Township       Erie    PA
4           oshkoshwinnebagowi         Oshkosh  Winnebago    WI
...                        ...             ...        ...   ...
25336       oakdalealleghenypa         Oakdale  Allegheny    PA
25337          benddeschutesor            Bend  Deschutes    OR
25338            stoutgrundyia           Stout     Grundy    IA
25339  collettsvillecaldwellnc   Collettsville   Caldwell    NC
25340         henricohenricova         Henrico    Henrico    VA

[25341 rows x 4 columns]

In [4]:
cities['city_county_state'] = cities['City'] + ', ' + cities['County'] + ', '+ cities['State']

In [6]:
cities

,Unique_City_ID,City,County,State,city_county_state
0,oak_grovechristianky,Oak Grove,Christian,KY,"Oak Grove, Christian, KY"
1,jarvisburgcurritucknc,Jarvisburg,Currituck,NC,"Jarvisburg, Currituck, NC"
2,mcminnvilleyamhillor,McMinnville,Yamhill,OR,"McMinnville, Yamhill, OR"
3,union_townshiperiepa,Union Township,Erie,PA,"Union Township, Erie, PA"
4,oshkoshwinnebagowi,Oshkosh,Winnebago,WI,"Oshkosh, Winnebago, WI"
...,...,...,...,...,...
25336,oakdalealleghenypa,Oakdale,Allegheny,PA,"Oakdale, Allegheny, PA"
25337,benddeschutesor,Bend,Deschutes,OR,"Bend, Deschutes, OR"
25338,stoutgrundyia,Stout,Grundy,IA,"Stout, Grundy, IA"
25339,collettsvillecaldwellnc,Collettsville,Caldwell,NC,"Collettsville, Caldwell, NC"
25340,henricohenricova,Henrico,Henrico,VA,"Henrico, Henrico, VA"

In [5]:
from private.my_geo_username import my_geo_username

In [6]:
from geopy import geocoders  
gn = geocoders.GeoNames(my_geo_username)

In [7]:
def get_location(name):
    location = gn.geocode(name)
    if location:
        print(f"{name},{location.latitude},{location.longitude}")
        return location.latitude,location.longitude
    else:
        print(f"{name},{None},{None}")
        return None

In [10]:
cities

,Unique_City_ID,City,County,State,city_county_state
0,oak_grovechristianky,Oak Grove,Christian,KY,"Oak Grove, Christian, KY"
1,jarvisburgcurritucknc,Jarvisburg,Currituck,NC,"Jarvisburg, Currituck, NC"
2,mcminnvilleyamhillor,McMinnville,Yamhill,OR,"McMinnville, Yamhill, OR"
3,union_townshiperiepa,Union Township,Erie,PA,"Union Township, Erie, PA"
4,oshkoshwinnebagowi,Oshkosh,Winnebago,WI,"Oshkosh, Winnebago, WI"
...,...,...,...,...,...
25336,oakdalealleghenypa,Oakdale,Allegheny,PA,"Oakdale, Allegheny, PA"
25337,benddeschutesor,Bend,Deschutes,OR,"Bend, Deschutes, OR"
25338,stoutgrundyia,Stout,Grundy,IA,"Stout, Grundy, IA"
25339,collettsvillecaldwellnc,Collettsville,Caldwell,NC,"Collettsville, Caldwell, NC"
25340,henricohenricova,Henrico,Henrico,VA,"Henrico, Henrico, VA"

In [24]:
cities = cities[cities.index>24532]

,Unique_City_ID,City,County,State,city_county_state
24533,stringtownatokaok,Stringtown,Atoka,OK,"Stringtown, Atoka, OK"
24534,gaysmoultrieil,Gays,Moultrie,IL,"Gays, Moultrie, IL"
24535,american_forkutahut,American Fork,Utah,UT,"American Fork, Utah, UT"
24536,conwayfaulknerar,Conway,Faulkner,AR,"Conway, Faulkner, AR"
24537,leopolisshawanowi,Leopolis,Shawano,WI,"Leopolis, Shawano, WI"
...,...,...,...,...,...
25336,oakdalealleghenypa,Oakdale,Allegheny,PA,"Oakdale, Allegheny, PA"
25337,benddeschutesor,Bend,Deschutes,OR,"Bend, Deschutes, OR"
25338,stoutgrundyia,Stout,Grundy,IA,"Stout, Grundy, IA"
25339,collettsvillecaldwellnc,Collettsville,Caldwell,NC,"Collettsville, Caldwell, NC"
25340,henricohenricova,Henrico,Henrico,VA,"Henrico, Henrico, VA"

In [106]:
cities['location'] = cities.city_county_state.astype(str).apply(lambda x: get_location(x))

Massillon, Stark, OH,40.79672,-81.52151
Pompano Beach, Broward, FL,26.23786,-80.12477
Lake City, Wabasha, MN,44.44968,-92.2682
Holderness, Grafton, NH,43.73202,-71.58841
Banner, Floyd, KY,37.59927,-82.70127
Palmer, Marquette, MI,46.44077,-87.59319
Town of North Brookfield, Worcester, MA,42.26676,-72.08285
Tool, Henderson, TX,32.26792,-96.17025
Weybridge, Addison, VT,44.06645,-73.21568
Pierson, Woodbury, IA,42.54416,-95.86751
Stringtown, Atoka, OK,34.46676,-96.05333
Gays, Moultrie, IL,39.45809,-88.49394
American Fork, Utah, UT,40.3769,-111.79576
Conway, Faulkner, AR,35.0887,-92.4421
Leopolis, Shawano, WI,44.76803,-88.84483
Marthasville, Saint Charles, MO,None,None
Beaux Arts Village, King, WA,47.58533,-122.19832
Goldville, Tallapoosa, AL,33.08373,-85.78385
Washington, Macomb, MI,42.72448,-83.03604
Wawaka, Noble, IN,41.45699,-85.4822
Greers Ferry, Cleburne, AR,35.57702,-92.17737
Brookfield, Orange, VT,44.04229,-72.60344
Allentown, Lehigh, PA,40.60843,-75.49018
Johnson City, Broome, NY,42.11563,-75.95881
Pine Hills, Orange, FL,28.55778,-81.4534
Farragut, Knox, TN,35.88452,-84.15353
Littlerock, Los Angeles, CA,34.5211,-117.98368
Hampton Township, Allegheny, PA,40.55951,-79.95867
Palmetto, Manatee, FL,27.52143,-82.57232
Tyrone, Schuyler, NY,42.40813,-77.0583
Westview, Miami-Dade, FL,25.88204,-80.24199
English, Crawford, IN,38.3345,-86.46415
Lane, Atoka, OK,34.29871,-95.98804
Hewlett Neck, Nassau, NY,40.62344,-73.69819
Town of Van Buren, Aroostook, ME,47.15727,-67.9353
Brunswick, Columbus, NC,34.28684,-78.70113
Elkland, Tioga, PA,41.98618,-77.31081
Trafalgar, Johnson, IN,39.41616,-86.15082
Boonton, Morris, NJ,40.9026,-74.4071
Cisco, Murray, GA,34.95119,-84.73633
Tigerton, Shawano, WI,44.74081,-89.06317
Saint Helen, Roscommon, MI,44.36843,-84.45878
Larrabee, Cherokee, IA,42.86081,-95.54528
Port Orford, Curry, OR,42.74566,-124.49733
La Moille, Bureau, IL,41.5317,-89.27981
Wayne, Wood, OH,41.30144,-83.47354
Fort Smith, Sebastian, AR,35.38592,-94.39855
Garrison, Crow Wing, MN,46.2944,-93.82692
Brielle, Monmouth, NJ,40.10789,-74.05653
Holland, Ottawa, MI,42.77891,-86.20477
Victoria, Lunenburg, VA,36.99487,-78.22722
Astoria, Fulton, IL,40.22754,-90.35957
Avondale Estates, Dekalb, GA,33.77149,-84.26714
Gardner, Johnson, KS,38.81084,-94.92719
Lee, Penobscot, ME,45.36006,-68.28641
Mentone, San Bernardino, CA,34.07001,-117.13448
East Chillisquaque Township, Northumberland, PA,40.9937,-76.78913
Peru, Berkshire, MA,42.44842,-73.02121
Oak Park, Clark, IN,38.30539,-85.68966
Taylorsville, Smith, MS,31.8296,-89.42812
Holden, Penobscot, ME,44.75285,-68.67892
Holly Hill, Orangeburg, SC,33.32266,-80.4137
Woodside, Bucks, PA,40.22178,-74.87544
Burns, Allegany, NY,42.42979,-77.72499
Fanning Springs, Levy, FL,29.58635,-82.93457
Waite Park, Stearns, MN,45.55719,-94.22416
Gilbertsville, Marshall, KY,37.0245,-88.29976
Del Rey, Fresno, CA,36.65912,-119.59374
Pecatonica, Winnebago, IL,42.31391,-89.35928
Grantham, Sullivan, NH,43.48952,-72.13759
Dresden, Lincoln, ME,44.1073,-69.72421
Henderson, Vance, NC,36.32959,-78.39916
Washington Township, Indiana, PA,40.67895,-79.18754
Haxtun, Phillips, CO,40.6411,-102.62686
Mentor, Polk, MN,47.6983,-96.14116
Yale, Payne, OK,36.11423,-96.69919
New Baden, Clinton, IL,38.53505,-89.70065
Mount Ayr, Newton, IN,40.95198,-87.29919
Nucla, Montrose, CO,38.26943,-108.54787
Rudolph, Wood, OH,41.29783,-83.66993
Goddard, Sedgwick, KS,37.65974,-97.57533
Guadalupe, Santa Barbara, CA,34.97164,-120.57184
Proctor, Rutland, VT,43.66062,-73.03566
Town of Farmingdale, Kennebec, ME,44.24451,-69.77143
Sidney, Shelby, OH,40.28422,-84.1555
Sulphur, Henry, KY,38.49479,-85.27357
Kearny, Pinal, AZ,33.05701,-110.91067
Hughesville, Charles, MD,38.53262,-76.78386
Elsah, Jersey, IL,38.95616,-90.35984
Eden Isle, Saint Tammany, LA,30.22853,-89.79867
Upper Lake, Lake, CA,39.16461,-122.91055
Bolivar, Tuscarawas, OH,40.65006,-81.45206
Mechanicsburg, Sangamon, IL,39.80949,-89.39731
Center, Rock, WI,42.78945,-88.82733
Tinley Park, Cook, IL,41.57337,-87.78449
East Point, Fulton, GA,33.67955,-84.43937
Yalaha, Lake, FL,28.7386,-81.80869
Kermit, Mingo, WV,37.84371,-82.40931
Tower City, Cass, ND,46.92275,-97.67399
Harpswell, Cumberland, ME,43.80175,-69.98421
Speedwell, Claiborne, TN,36.45869,-83.87186
Town of Eden, Erie, NY,42.65228,-78.89698
Brownsburg, Hendricks, IN,39.84338,-86.39777
High Point, Hernando, FL,28.54687,-82.52468
Chemult, Klamath, OR,43.21652,-121.7828
New Columbus, Luzerne, PA,41.17342,-76.29355
Jackson, Jackson, MN,43.64756,-94.98508
Brazil, Clay, IN,39.47505,-87.09983
Mc Donald, Bradley, TN,None,None
Clinton, Clinton, IA,41.84447,-90.18874
Kents Store, Fluvanna, VA,37.87931,-78.12889
Windsor, Weld, CO,40.47748,-104.90136
Hartsburg, Logan, IL,40.25088,-89.44093
Scranton, Logan, AR,35.3612,-93.53574
Heidelberg Township, Lebanon, PA,40.29843,-76.2944
Pikeville, Wayne, NC,35.4971,-77.98193
Montrose Township, Genesee, MI,43.17715,-83.87176
Roxboro, Person, NC,36.39375,-78.98279
Desloge, Saint Francois, MO,37.87088,-90.52735
Tumtum, Stevens, WA,47.89156,-117.68301
Pennsburg, Montgomery, PA,40.39093,-75.49212
Chenoa, McLean, IL,40.7417,-88.71979
Massac, McCracken, KY,37.01672,-88.73061
New Buffalo, Perry, PA,40.45425,-76.9697
Cary, Wake, NC,35.79154,-78.78112
Delaware, Nowata, OK,36.7787,-95.63942
Pine Township, Clearfield, PA,41.09997,-78.53356
Spillville, Winneshiek, IA,43.20497,-91.951
Jasper, Dubois, IN,38.39144,-86.93111
Sunny Isles Beach, Miami-Dade, FL,25.95065,-80.12282
Mountainburg, Crawford, AR,35.63564,-94.16743
North Hampton, Rockingham, NH,42.93759,-70.83894
Dacula, Gwinnett, GA,33.98872,-83.89796
Spring Valley, Greene, OH,39.60895,-84.00771
Tamarac, Broward, FL,26.21286,-80.24977
Fairdale, Jefferson, KY,38.10507,-85.75885
Groesbeck, Hamilton, OH,39.22311,-84.58689
Breckenridge, Summit, CO,39.63214,-106.07428
Williamson, Pike, GA,33.18234,-84.36159
Butner, Granville, NC,36.13209,-78.75667
Cottonwood, Tehama, CA,40.26432,-122.76001
San Jose, Santa Clara, CA,37.33939,-121.89496
Hawaiian Gardens, Los Angeles, CA,33.8314,-118.07284
Hackleburg, Marion, AL,34.27732,-87.82864
Walton Park, Orange, NY,41.30982,-74.22904
Oak Bluffs, Dukes, MA,41.45428,-70.56197
Litchfield, Meeker, MN,45.12718,-94.52805
Northfield, Atlantic, NJ,39.37039,-74.55015
Hughes, Saint Francis, AR,34.94926,-90.47149
Buford, Gwinnett, GA,34.12066,-84.00435
Citrus Park, Hillsborough, FL,28.07835,-82.56982
Orange, Cuyahoga, OH,41.44978,-81.48067
New York, Queens, NY,40.68149,-73.83652
Columbus, Franklin, OH,39.96118,-82.99879
Pinecrest, Miami-Dade, FL,25.66705,-80.30811
Salisbury, Rowan, NC,35.67097,-80.47423
Attica, Lapeer, MI,43.03031,-83.16605
Bremen, Muhlenberg, KY,37.36143,-87.21861
Brewer, Penobscot, ME,44.79674,-68.76142
Edmeston, Otsego, NY,42.69785,-75.24378
Fairbury, Livingston, IL,40.74726,-88.51478
Wellington, Lorain, OH,41.16894,-82.21794
Beaverville, Iroquois, IL,40.95448,-87.65448
Burkesville, Cumberland, KY,36.79034,-85.37052
South Hanover, Dauphin, PA,40.3087,-76.6683
Ramona, Washington, OK,36.53037,-95.9236
Attleboro, Bristol, MA,41.94454,-71.28561
Fort Huachuca, Santa Cruz, AZ,None,None
New Springfield, Mahoning, OH,40.91728,-80.60618
Nescopeck Township, Luzerne, PA,41.03904,-76.1711
Bensenville, Du Page, IL,41.95503,-87.94007
Mabank, Kaufman, TX,32.36653,-96.10081
Randolph Township, Crawford, PA,41.63006,-79.97756
Northfield, Summit, OH,41.34505,-81.52845
Glenbeulah, Sheboygan, WI,43.79722,-88.04732
Tavernier, Monroe, FL,25.01152,-80.51506
Woodville, Tyler, TX,30.7752,-94.41548
Lakewood, Jefferson, CO,39.70471,-105.08137
Santa Ynez, Santa Barbara, CA,34.60665,-120.07653
McKee, Jackson, KY,37.43024,-83.98699
Ephrata Township, Lancaster, PA,40.17433,-76.13571
San Francisco, San Francisco, CA,37.77493,-122.41942
Munfordville, Hart, KY,37.27228,-85.89108
Suffolk, Suffolk City, VA,36.72836,-76.58496
Fraser, Boone, IA,42.1272,-93.96495
Milford, Somerset, PA,39.95423,-79.17246
Saint Joseph, Champaign, IL,40.1117,-88.0417
Mayodan, Rockingham, NC,36.41236,-79.96699
Fruita, Mesa, CO,39.15887,-108.72899
Lutsen, Cook, MN,47.64712,-90.67486
Parkdale, Jefferson, MO,38.47811,-90.52262
Town of Randolph, Cattaraugus, NY,42.16201,-78.97532
Amorita, Alfalfa, OK,36.92447,-98.29174
Arma, Crawford, KS,37.54394,-94.70024
Pinehurst, Orange, TX,30.10867,-93.77038
Piermont, Rockland, NY,41.04204,-73.91819
Kilbourne, Mason, IL,40.15199,-90.01012
Celoron, Chautauqua, NY,42.1095,-79.2831
Naplate, La Salle, IL,41.33364,-88.87813
Nashville, Barry, MI,42.60281,-85.09305
Babylon, Suffolk, NY,40.71816,-73.35429
Whitefish, Flathead, MT,48.41108,-114.33763
Knob Noster, Johnson, MO,38.76668,-93.55855
Catlett, Fauquier, VA,38.65373,-77.64055
Thomaston, Litchfield, CT,41.67399,-73.07316
Kenneth City, Pinellas, FL,27.81558,-82.7201
Spanish Lake, Saint Louis, MO,38.78783,-90.21594
New Salem, Franklin, MA,42.50426,-72.33203
Sherrill, Jefferson, AR,34.38537,-91.95069
Town of Wrightstown, Brown, WI,44.31332,-88.09621
Columbia, Houston, AL,31.29271,-85.11267
Brothertown, Calumet, WI,43.96805,-88.30899
North Buffalo Township, Armstrong, PA,40.73528,-79.59923
Portage, Wood, OH,41.32672,-83.65077
Algood, Putnam, TN,36.19589,-85.44858
Troy, Cheshire, NH,42.82397,-72.18119
Ooltewah, Hamilton, TN,35.07507,-85.06217
Holladay, Benton, TN,35.87062,-88.14587
Huntsville, Madison, AL,34.7304,-86.58594
Wauconda, Lake, IL,42.25891,-88.13925
Benton, Saline, AR,34.56454,-92.58683
West Columbia, Mason, WV,38.98313,-82.06348
Hamtramck, Wayne, MI,42.39282,-83.04964
East Flat Rock, Henderson, NC,35.28012,-82.42206
Curtis, Lewis, WA,46.58705,-123.11013
Strawberry Plains, Jefferson, TN,36.06314,-83.68601
Buffalo, Johnson, WY,44.34831,-106.69894
Austin, Barren, KY,36.82533,-86.01915
Mendota, Washington, VA,36.71094,-82.30153
East Bank, Kanawha, WV,38.21816,-81.44289
Cass Township, Huntingdon, PA,40.29341,-77.96639
Hanoverton, Columbiana, OH,40.75117,-80.93703
Silver Creek, Lewis, WA,46.52538,-122.59039
Virginia, Cass, IL,39.95116,-90.21234
Saint John, Stafford, KS,38.00224,-98.76009
Cross, Berkeley, SC,33.32739,-80.14842
Billerica, Middlesex, MA,42.55843,-71.26895
Reydon, Roger Mills, OK,35.65366,-99.919
Grand Island, Hall, NE,40.92501,-98.34201
Clayton, Clayton, IA,42.84475,-91.34143
Lynx, Adams, OH,38.77313,-83.41297
Belpre, Washington, OH,39.27396,-81.5729
Cape Neddick, York, ME,43.1937,-70.62089
Detroit Beach, Monroe, MI,41.93116,-83.32688
Virginia Beach, Virginia Beach City, VA,36.85293,-75.97799
Carmichael, Sacramento, CA,38.61713,-121.32828
Union Township, Berks, PA,40.22734,-75.77999
Vidette, Burke, GA,33.03765,-82.24735
Fruit Cove, Saint Johns, FL,30.11107,-81.64176
Decatur, Benton, AR,36.33591,-94.46077
Garrett, Floyd, KY,37.47982,-82.83155
Berea, Madison, KY,37.56869,-84.29632
Draper, Salt Lake, UT,40.52467,-111.86382
Piggott, Clay, AR,36.38284,-90.19065
Cotesfield, Howard, NE,41.35723,-98.63258
Durham, Bucks, PA,40.57566,-75.22323
Sligo, Clarion, PA,41.10923,-79.49005
Exline, Appanoose, IA,40.64918,-92.84048
Independence, Buchanan, IA,42.4536,-91.94762
Leasburg, Caswell, NC,36.39458,-79.15446
Peculiar, Cass, MO,38.71918,-94.45856
Haverhill, Palm Beach, FL,26.69118,-80.12004
North Versailles, Allegheny, PA,40.37979,-79.80949
Friedensburg, Schuylkill, PA,40.60259,-76.24078
Clintwood, Dickenson, VA,37.15011,-82.45598
Silverhill, Baldwin, AL,30.54547,-87.75166
Wenham, Essex, MA,42.60426,-70.89116
Yuba City, Sutter, CA,39.14045,-121.61691
Maxwell, Lincoln, NE,41.07889,-100.52486
La Crosse, La Crosse, WI,43.80136,-91.23958
Sulphur, Murray, OK,34.50787,-96.96835
Carthage, Smith, TN,36.25228,-85.95165
Marshall, Pettis, MO,None,None
Le Grand, Marshall, IA,42.00693,-92.77548
Dow, Jersey, IL,39.01338,-90.3415
Blythe Township, Schuylkill, PA,40.71176,-76.13772
Lebec, Kern, CA,34.84164,-118.86482
Goshen, Pike, AL,31.72294,-86.11829
North Haven, Suffolk, NY,40.81621,-72.89677
South Thomaston, Knox, ME,44.05147,-69.12782
Redway, Humboldt, CA,40.12014,-123.82336
Cheviot, Hamilton, OH,39.157,-84.61328
Buena Vista, Santa Clara, CA,37.32133,-121.91662
Jay, Franklin, ME,44.50395,-70.21617
Stanhope, Hamilton, IA,42.28887,-93.79606
Wingo, Hickman, KY,None,None
Napa, Napa, CA,38.29714,-122.28553
Cushing, Payne, OK,35.94979,-96.77308
Carlton, Yamhill, OR,45.29428,-123.17649
South Monroe, Monroe, MI,33.89224,-88.48047
Collins, Covington, MS,31.64544,-89.55535
Castle Shannon, Allegheny, PA,40.36479,-80.02228
Oldsmar, Pinellas, FL,28.03418,-82.6651
Bel Air, Harford, MD,39.53594,-76.34829
Longswamp, Berks, PA,40.49815,-75.65491
Gun Barrel City, Henderson, TX,32.33459,-96.15136
Ball, Rapides, LA,31.41546,-92.4118
Elma, Grays Harbor, WA,47.00343,-123.40877
Fremont, Sandusky, OH,41.35033,-83.12186
Town of East Hampton, Middlesex, CT,41.57593,-72.50259
Centre Hall, Centre, PA,40.84756,-77.68611
Hegins, Schuylkill, PA,40.65148,-76.49774
Arch Cape, Clatsop, OR,45.80205,-123.96819
Town of Westminster, Windham, VT,43.06786,-72.4587
Conesville, Schoharie, NY,42.3873,-74.37626
Comstock, Polk, WI,None,None
Smiths, Lee, AL,32.54014,-85.09855
University, Hillsborough, FL,28.07389,-82.43902
Linn Valley, Linn, KS,38.37752,-94.7094
Millville, Shasta, CA,40.54932,-122.17528
Shell Lake, Washburn, WI,45.73025,-91.91703
Huntsville, Madison, AR,36.07839,-93.75381
New Albany, Floyd, IN,38.28562,-85.82413
Deerbrook, Langlade, WI,45.23358,-89.15567
Marysville, Snohomish, WA,48.05176,-122.17708
Los Alamos, Los Alamos, NM,35.88808,-106.30697
Eastpoint, Franklin, FL,29.7366,-84.87852
Gilmore, Crittenden, AR,35.41175,-90.27843
Town of Whitehall, Washington, NY,43.55562,-73.40372
Alice, Jim Wells, TX,27.75225,-98.06972
Houston, Houston, MN,43.67144,-91.49283
Gratz, Owen, KY,38.47368,-84.95273
Keiser, Mississippi, AR,35.67452,-90.09981
Manchester, Kennebec, ME,44.32451,-69.86033
Baxter Springs, Cherokee, KS,37.02368,-94.7355
Washington Township, Lawrence, PA,40.30618,-80.12061
Mound, Hennepin, MN,44.93663,-93.66607
Geneseo, Henry, IL,41.44809,-90.15428
Elkview, Kanawha, WV,38.44288,-81.4804
Lake Wynonah, Schuylkill, PA,40.59926,-76.16383
Draper, Pulaski, VA,37.00595,-80.74729
Bloomfield, Walworth, WI,42.57446,-88.35509
Hardyville, Hart, KY,37.25422,-85.78608
Lindenhurst, Suffolk, NY,40.68677,-73.37345
Atlanta, Logan, IL,40.25948,-89.23342
Thomas, Tucker, WV,39.149,-79.49811
North Palm Springs, Riverside, CA,33.8303,-116.54529
Perryville, Cecil, MD,39.56011,-76.07134
Grannis, Polk, AR,34.24067,-94.33493
New Carrollton, Prince Georges, MD,38.96983,-76.87997
Cement, Caddo, OK,34.93201,-98.14033
Rogersville, Hawkins, TN,36.40732,-83.00544
Ripley, Lauderdale, TN,35.74536,-89.5298
Alma, Harlan, NE,40.09751,-99.36204
Hardy, Nuckolls, NE,40.0089,-97.92699
Lohman, Cole, MO,38.54309,-92.36435
Wells, Elko, NV,41.11159,-114.96449
Idaho Falls, Bonneville, ID,43.46658,-112.03414
Cascade, Valley, ID,44.49378,-116.01624
Jeffersonton, Culpeper, VA,38.63706,-77.915
Marengo, McHenry, IL,42.24863,-88.60843
Unionville Center, Union, OH,40.13839,-83.33992
Winslow, Pike, IN,38.38227,-87.21279
Okauchee, Waukesha, WI,43.12334,-88.44065
Primrose, Dane, WI,42.90139,-89.66234
Grangeville, Idaho, ID,45.92655,-116.12237
Winter Haven, Polk, FL,28.02224,-81.73286
Ariel, Cowlitz, WA,45.95678,-122.57093
Posen, Presque Isle, MI,45.24831,-83.69847
Cloverdale, Botetourt, VA,37.36514,-79.9056
Haddon Township, Camden, NJ,39.90631,-75.06258
Bryant, Jackson, AL,34.94369,-85.63219
Philo, Champaign, IL,40.00698,-88.1581
Rose Hill, Butler, KS,37.55835,-97.13504
Sevierville, Sevier, TN,35.86815,-83.56184
Plymouth, Marshall, IN,41.36682,-86.30874
Wytheville, Wythe, VA,36.94845,-81.08481
Mosses, Lowndes, AL,32.17459,-86.67192
Reserve Township, Allegheny, PA,40.48529,-79.9891
Pierson, Volusia, FL,29.23942,-81.46563
Loyalsock, Lycoming, PA,41.24841,-76.97719
Nichols, Horry, SC,34.22516,-79.13448
Wheat Ridge, Jefferson, CO,39.7661,-105.07721
Pinebluff, Moore, NC,35.10988,-79.47226
Xenia, Greene, OH,39.68478,-83.92965
Casselman, Somerset, PA,39.88563,-79.21142
Pelican Lake, Oneida, WI,45.50591,-89.1993
Cannon Beach, Clatsop, OR,45.89177,-123.96153
Wrightstown, Burlington, NJ,40.03622,-74.61793
West Babylon, Suffolk, NY,40.71816,-73.35429
Greenville, Providence, RI,41.87121,-71.55201
Helmetta, Middlesex, NJ,40.37677,-74.4246
West Turin, Lewis, NY,43.56674,-75.42851
Lastrup, Morrison, MN,46.03941,-94.06332
Old Lycoming, Lycoming, PA,41.25424,-77.04608
Cushing, Polk, WI,45.57051,-92.65104
Fairbury, Jefferson, NE,40.13722,-97.18059
Aldine, Harris, TX,29.93245,-95.38021
Arkansas City, Desha, AR,33.60872,-91.20678
Cohasset, Norfolk, MA,42.24177,-70.80365
Coalgate, Coal, OK,34.53815,-96.21861
Chesilhurst, Camden, NJ,39.73234,-74.881
Durant, Bryan, OK,33.99399,-96.37082
Cadott, Chippewa, WI,44.94802,-91.1507
Monticello, Drew, AR,33.629,-91.79096
Troy Township, Bradford, PA,41.77007,-76.73718
Washington Township, Butler, PA,41.04784,-79.81338
Holly, Oakland, MI,42.79197,-83.62773
Eldred Township, Warren, PA,41.72117,-79.53755
Shiloh, York, PA,39.97815,-76.79719
Rimrock, Yavapai, AZ,34.65058,-111.74571
Bradford, Gibson, TN,36.07645,-88.81006
Dayton, Hennepin, MN,45.24385,-93.51496
Hendron, McCracken, KY,37.0395,-88.62922
Bishop, Inyo, CA,37.36354,-118.39511
Harrietta, Wexford, MI,44.31001,-85.69784
Tracy City, Grundy, TN,35.26036,-85.73608
Bluffdale, Salt Lake, UT,40.48967,-111.93882
Moses Lake, Grant, WA,47.13014,-119.27808
Lincoln Township, Somerset, PA,40.09924,-79.09114
Wheeler, Wheeler, TX,35.40128,-100.26965
Albany, Stearns, MN,45.62996,-94.57
Palmer, Merrick, NE,41.22224,-98.25729
East Pikeland Township, Chester, PA,40.0951,-75.61687
Pomfret, Chautauqua, NY,42.44006,-79.33171
Ben Lomond, Santa Cruz, CA,37.08911,-122.08635
Strandquist, Marshall, MN,48.49025,-96.44726
Kinston, Lenoir, NC,35.26266,-77.58164
Penn Township, Centre, PA,40.84867,-77.84917
Miesville, Dakota, MN,44.60052,-92.81298
Chaplin, Windham, CT,41.79482,-72.1273
Idaville, White, IN,40.75698,-86.64945
Freetown, Jackson, IN,38.97311,-86.12943
Rosie, Independence, AR,35.65653,-91.53734
Echo Lake, El Dorado, CA,38.83519,-120.04463
Mexico Beach, Bay, FL,29.94809,-85.41995
Kings Beach, Placer, CA,39.23768,-120.02658
Pocahontas, Pocahontas, IA,42.73414,-94.67875
Black River, Alcona, MI,44.83196,-83.28441
Charlack, Saint Louis, MO,38.70255,-90.34345
Daly City, San Mateo, CA,37.70577,-122.46192
Mitchellville, Desha, AR,33.90566,-91.49901
Boscobel, Grant, WI,43.13443,-90.7054
Grubville, Franklin, MO,None,None
Sandy Township, Clearfield, PA,41.10784,-78.77114
Wixom, Oakland, MI,42.52476,-83.53633
Allegheny Township, Venango, PA,41.56515,-79.54124
Roaring Brook Township, Lackawanna, PA,41.37642,-75.57662
Huntington, Cabell, WV,38.41925,-82.44515
Lakewood Club, Muskegon, MI,43.37112,-86.26034
Lebanon, Grafton, NH,43.64229,-72.25176
Woodville, Greene, GA,33.67151,-83.10599
Murdock, Swift, MN,45.22385,-95.39336
Laflin, Luzerne, PA,41.28897,-75.80547
Saint George, Pottawatomie, KS,39.19111,-96.42028
Eldorado, Saline, IL,37.81366,-88.4381
Combs, Madison, AR,35.82563,-93.83658
Carteret, Middlesex, NJ,40.57733,-74.2282
Keokee, Lee, VA,36.85898,-82.90405
New Ulm, Brown, MN,44.31246,-94.46053
Level Park-Oak Park, Calhoun, MI,42.36418,-85.2665
Warren, Bradley, AR,33.61261,-92.06458
Bagley, Guthrie, IA,41.8461,-94.42997
Walworth, Wayne, NY,43.13923,-77.27221
Spavinaw, Mayes, OK,36.3912,-95.04663
Banks, Washington, OR,45.61872,-123.11428
La Crosse, Mecklenburg, VA,36.70014,-78.09972
Godley, Will, IL,41.2367,-88.24367
Greensboro, Guilford, NC,36.07264,-79.79198
West Linn, Clackamas, OR,45.36568,-122.61231
Washta, Cherokee, IA,42.57554,-95.71751
Rosemont, Frederick, MD,39.32927,-77.62249
Allerton, Vermilion, IL,39.9117,-87.93642
Mont Belvieu, Chambers, TX,29.84772,-94.89076
Terra Ceia, Manatee, FL,27.57948,-82.58038
Malcolm, Lancaster, NE,40.90667,-96.8628
Artesia, Los Angeles, CA,33.86585,-118.08312
Columbus Grove, Putnam, OH,40.9195,-84.05689
Glencoe, Belmont, OH,40.00813,-80.88759
Dunbarton, Merrimack, NH,43.10258,-71.61646
Walker, Linn, IA,42.28666,-91.78073
Town of East Millinocket, Penobscot, ME,45.64783,-68.68503
Mackinaw, Tazewell, IL,40.53698,-89.35759

Because of the GeocoderQuotaExceeded, we save the output in a file called ***location.csv***.<br>
We run the code for 1000 rows every some minutes.

In [155]:
cities_2 = pd.read_csv(f"s3://cleandatagrupo07/cities.csv",
    storage_options={
        "key": access_key,
        "secret": secret_access_key
    },
)

In [156]:
df_location = pd.read_csv('location.csv')

In [157]:
df_location.drop_duplicates(subset=['City','County','State'],inplace=True)

In [158]:
df_location

                 City      County State  Latitude   Longitude
0           Oak Grove   Christian    KY  36.66505   -87.44279
1          Jarvisburg   Currituck    NC  36.20294   -75.86658
2         McMinnville     Yamhill    OR  45.21012  -123.19872
3      Union Township        Erie    PA  41.89402   -79.82283
4             Oshkosh   Winnebago    WI  44.02471   -88.54261
...               ...         ...   ...       ...         ...
25346         Oakdale   Allegheny    PA  40.39812   -80.18561
25347            Bend   Deschutes    OR  44.05817  -121.31531
25348           Stout      Grundy    IA  42.52637   -92.71186
25349   Collettsville    Caldwell    NC  35.92569   -81.67455
25350         Henrico     Henrico    VA  37.46376   -77.39804

[25341 rows x 5 columns]

In [162]:
df_location.replace('None',np.nan,inplace=True)

In [163]:
df_location.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25341 entries, 0 to 25350
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       25341 non-null  object
 1   County     25341 non-null  object
 2   State      25341 non-null  object
 3   Latitude   24989 non-null  object
 4   Longitude  24989 non-null  object
dtypes: object(5)
memory usage: 1.2+ MB

In [164]:
cities_2['Latitude'] = df_location['Latitude']
cities_2['Longitude'] = df_location['Longitude']

In [165]:
cities_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25341 entries, 0 to 25340
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique_City_ID  25341 non-null  object
 1   City            25341 non-null  object
 2   County          25341 non-null  object
 3   State           25341 non-null  object
 4   Latitude        24979 non-null  object
 5   Longitude       24979 non-null  object
dtypes: object(6)
memory usage: 1.2+ MB

Latitude and Longitude have some null values. We fill them with the coordinates of a city from the same county and state.

In [166]:
null_lat_lon = cities_2[cities_2.Latitude.isna()]

In [167]:
null_lat_lon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 198 to 25340
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique_City_ID  362 non-null    object
 1   City            362 non-null    object
 2   County          362 non-null    object
 3   State           362 non-null    object
 4   Latitude        0 non-null      object
 5   Longitude       0 non-null      object
dtypes: object(6)
memory usage: 19.8+ KB

In [168]:
null_lat_lon = pd.merge(null_lat_lon,cities_2,how='left',on=['County','State'])

In [169]:
null_lat_lon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4534 entries, 0 to 4533
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unique_City_ID_x  4534 non-null   object
 1   City_x            4534 non-null   object
 2   County            4534 non-null   object
 3   State             4534 non-null   object
 4   Latitude_x        0 non-null      object
 5   Longitude_x       0 non-null      object
 6   Unique_City_ID_y  4534 non-null   object
 7   City_y            4534 non-null   object
 8   Latitude_y        3646 non-null   object
 9   Longitude_y       3646 non-null   object
dtypes: object(10)
memory usage: 389.6+ KB

In [170]:
null_lat_lon.drop_duplicates(subset=['Unique_City_ID_x'],inplace=True)

In [171]:
null_lat_lon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 0 to 4522
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unique_City_ID_x  362 non-null    object
 1   City_x            362 non-null    object
 2   County            362 non-null    object
 3   State             362 non-null    object
 4   Latitude_x        0 non-null      object
 5   Longitude_x       0 non-null      object
 6   Unique_City_ID_y  362 non-null    object
 7   City_y            362 non-null    object
 8   Latitude_y        279 non-null    object
 9   Longitude_y       279 non-null    object
dtypes: object(10)
memory usage: 31.1+ KB

In [172]:
null_lat_lon.drop(['Latitude_x','Longitude_x','Unique_City_ID_y','City_y'],axis=1,inplace=True)

In [173]:
null_lat_lon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 0 to 4522
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unique_City_ID_x  362 non-null    object
 1   City_x            362 non-null    object
 2   County            362 non-null    object
 3   State             362 non-null    object
 4   Latitude_y        279 non-null    object
 5   Longitude_y       279 non-null    object
dtypes: object(6)
memory usage: 19.8+ KB

There are still some null values. We fill them with the coordinates of a city from the same state.

In [174]:
null_lat_lon = pd.merge(null_lat_lon,cities_2,how='left',on=['State'])

In [175]:
null_lat_lon.drop_duplicates(subset=['Unique_City_ID_x'],inplace=True)

In [176]:
null_lat_lon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 0 to 273524
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unique_City_ID_x  362 non-null    object
 1   City_x            362 non-null    object
 2   County_x          362 non-null    object
 3   State             362 non-null    object
 4   Latitude_y        279 non-null    object
 5   Longitude_y       279 non-null    object
 6   Unique_City_ID    362 non-null    object
 7   City              362 non-null    object
 8   County_y          362 non-null    object
 9   Latitude          362 non-null    object
 10  Longitude         362 non-null    object
dtypes: object(11)
memory usage: 33.9+ KB

In [177]:
null_lat_lon.drop(['Latitude_y','Longitude_y','Unique_City_ID','City'],axis=1,inplace=True)

In [178]:
null_lat_lon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 0 to 273524
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unique_City_ID_x  362 non-null    object
 1   City_x            362 non-null    object
 2   County_x          362 non-null    object
 3   State             362 non-null    object
 4   County_y          362 non-null    object
 5   Latitude          362 non-null    object
 6   Longitude         362 non-null    object
dtypes: object(7)
memory usage: 22.6+ KB

In [179]:
city_lat_lon = null_lat_lon[['Unique_City_ID_x','Latitude','Longitude']]

In [180]:
city_lat_lon.rename(columns={'Unique_City_ID_x':'Unique_City_ID'},inplace=True)

/var/folders/wh/7jr3ry9j3cb9x1sd3ncj65w40000gn/T/ipykernel_870/1000764057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_lat_lon.rename(columns={'Unique_City_ID_x':'Unique_City_ID'},inplace=True)

In [181]:
cities_2 = pd.merge(cities_2,city_lat_lon,how='left',on='Unique_City_ID')

In [182]:
cities_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25341 entries, 0 to 25340
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique_City_ID  25341 non-null  object
 1   City            25341 non-null  object
 2   County          25341 non-null  object
 3   State           25341 non-null  object
 4   Latitude_x      24979 non-null  object
 5   Longitude_x     24979 non-null  object
 6   Latitude_y      362 non-null    object
 7   Longitude_y     362 non-null    object
dtypes: object(8)
memory usage: 1.7+ MB

In [183]:
cities_2.Longitude_x = cities_2.Longitude_x.fillna(cities_2.Longitude_y)

In [184]:
cities_2.Latitude_x = cities_2.Latitude_x.fillna(cities_2.Latitude_y)

In [185]:
cities_2.drop(['Latitude_y','Longitude_y'],axis=1,inplace=True)

In [186]:
cities_2.rename(columns={'Latitude_x':'Latitude','Longitude_x':'Longitude'},inplace=True)

In [187]:
cities_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25341 entries, 0 to 25340
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique_City_ID  25341 non-null  object
 1   City            25341 non-null  object
 2   County          25341 non-null  object
 3   State           25341 non-null  object
 4   Latitude        25341 non-null  object
 5   Longitude       25341 non-null  object
dtypes: object(6)
memory usage: 1.4+ MB

The file is uploaded to our S3 bucket

In [191]:
cities_2.to_csv(f"s3://cleandatagrupo07/city_lat_lon.csv",
    storage_options={
        "key": access_key,
        "secret": secret_access_key
    },
)