### POPULATION

In [2]:
# Import libraries
import pandas as pd
import numpy as  np

In [3]:
# Read files
# Table #1
population2010 = pd.read_csv('./SUB-EST2020_ALL.csv', encoding = "ISO-8859-1")
print('Shape table 2010-2020 : ' ,  population2010.shape)
#Table #2
population2021 = pd.read_csv('./sub-est2021_all.csv',engine='python',encoding='latin1')
print('Shape table 2021: ', population2021.shape)

Shape table 2010-2020 :  (81415, 24)
Shape table 2021:  (81416, 13)

In [8]:
population2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81415 entries, 0 to 81414
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SUMLEV             81415 non-null  int64
 1   STATE              81415 non-null  int64
 2   COUNTY             81415 non-null  int64
 3   PLACE              81415 non-null  int64
 4   COUSUB             81415 non-null  int64
 5   CONCIT             81415 non-null  int64
 6   PRIMGEO_FLAG       81415 non-null  int64
 7   FUNCSTAT           81415 non-null  object
 8   NAME               81415 non-null  object
 9   STNAME             81415 non-null  object
 10  CENSUS2010POP      81415 non-null  object
 11  ESTIMATESBASE2010  81415 non-null  int64
 12  POPESTIMATE2010    81415 non-null  int64
 13  POPESTIMATE2011    81415 non-null  int64
 14  POPESTIMATE2012    81415 non-null  int64
 15  POPESTIMATE2013    81415 non-null  int64
 16  POPESTIMATE2014    81415 non-null  int64
 17  POPESTIMATE2015    81415 non-null  int64
 18  POPESTIMATE2016    81415 non-null  int64
 19  POPESTIMATE2017    81415 non-null  int64
 20  POPESTIMATE2018    81415 non-null  int64
 21  POPESTIMATE2019    81415 non-null  int64
 22  POPESTIMATE042020  81415 non-null  int64
 23  POPESTIMATE2020    81415 non-null  int64
dtypes: int64(20), object(4)
memory usage: 14.9+ MB

In [5]:
population2010[population2010.duplicated()]

Empty DataFrame
Columns: [SUMLEV, STATE, COUNTY, PLACE, COUSUB, CONCIT, PRIMGEO_FLAG, FUNCSTAT, NAME, STNAME, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE2010, POPESTIMATE2011, POPESTIMATE2012, POPESTIMATE2013, POPESTIMATE2014, POPESTIMATE2015, POPESTIMATE2016, POPESTIMATE2017, POPESTIMATE2018, POPESTIMATE2019, POPESTIMATE042020, POPESTIMATE2020]
Index: []

[0 rows x 24 columns]

In [7]:
population2021[population2021.duplicated()]

Empty DataFrame
Columns: [SUMLEV, STATE, COUNTY, PLACE, COUSUB, CONCIT, PRIMGEO_FLAG, FUNCSTAT, NAME, STNAME, ESTIMATESBASE2020, POPESTIMATE2020, POPESTIMATE2021]
Index: []

In [9]:
population2010.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'PLACE', 'COUSUB', 'CONCIT',
       'PRIMGEO_FLAG', 'FUNCSTAT', 'NAME', 'STNAME', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019', 'POPESTIMATE042020',
       'POPESTIMATE2020'],
      dtype='object')

In [10]:
# Dataframe population2010
population2010['SUMLEV']= population2010['SUMLEV'].astype(str)
population2010['STATE']= population2010['STATE'].astype(str)
population2010['COUNTY']= population2010['COUNTY'].astype(str)
population2010[ 'PLACE']= population2010[ 'PLACE'].astype(str)
population2010['COUSUB']= population2010['COUSUB'].astype(str)
population2010['CONCIT']= population2010['CONCIT'].astype(str)
population2010['PRIMGEO_FLAG']= population2010['PRIMGEO_FLAG'].astype(str)

#Dataframe population2021
population2021['SUMLEV']= population2021['SUMLEV'].astype(str)
population2021['STATE']= population2021['STATE'].astype(str)
population2021['COUNTY']= population2021['COUNTY'].astype(str)
population2021[ 'PLACE']= population2021[ 'PLACE'].astype(str)
population2021['COUSUB']= population2021['COUSUB'].astype(str)
population2021['CONCIT']= population2021['CONCIT'].astype(str)
population2021['PRIMGEO_FLAG']= population2021['PRIMGEO_FLAG'].astype(str)

In [11]:
# Create a new column 'Indicator' fot two tables
population2010['Indicator']= population2010[['SUMLEV','STATE','COUNTY','PLACE','COUSUB','CONCIT','PRIMGEO_FLAG','FUNCSTAT']].apply(''.join, axis = 1)

population2021['Indicator']= population2021[['SUMLEV','STATE','COUNTY','PLACE','COUSUB','CONCIT','PRIMGEO_FLAG','FUNCSTAT']].apply(''.join, axis = 1)

In [12]:
population2010.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'PLACE', 'COUSUB', 'CONCIT',
       'PRIMGEO_FLAG', 'FUNCSTAT', 'NAME', 'STNAME', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019', 'POPESTIMATE042020',
       'POPESTIMATE2020', 'Indicator'],
      dtype='object')

In [16]:
population= pd.merge(population2010,population2021, how = 'inner', left_on='Indicator', right_on='Indicator')
population.tail(10)

,SUMLEV_x,STATE_x,COUNTY_x,PLACE_x,COUSUB_x,CONCIT_x,PRIMGEO_FLAG_x,FUNCSTAT_x,NAME_x,STNAME_x,...,PLACE_y,COUSUB_y,CONCIT_y,PRIMGEO_FLAG_y,FUNCSTAT_y,NAME_y,STNAME_y,ESTIMATESBASE2020,POPESTIMATE2020_y,POPESTIMATE2021
81548,157,56,41,55345,0,0,1,A,Mountain View town,Wyoming,...,55345,0,0,1,A,Mountain View town,Wyoming,1283,1281,1287
81549,157,56,41,99990,0,0,1,F,Balance of Uinta County,Wyoming,...,99990,0,0,1,F,Balance of Uinta County,Wyoming,4752,4756,4834
81550,50,56,43,0,0,0,0,A,Washakie County,Wyoming,...,0,0,0,0,A,Washakie County,Wyoming,7685,7658,7705
81551,157,56,43,75790,0,0,1,A,Ten Sleep town,Wyoming,...,75790,0,0,1,A,Ten Sleep town,Wyoming,249,248,251
81552,157,56,43,84925,0,0,1,A,Worland city,Wyoming,...,84925,0,0,1,A,Worland city,Wyoming,4774,4757,4787
81553,157,56,43,99990,0,0,1,F,Balance of Washakie County,Wyoming,...,99990,0,0,1,F,Balance of Washakie County,Wyoming,2662,2653,2667
81554,50,56,45,0,0,0,0,A,Weston County,Wyoming,...,0,0,0,0,A,Weston County,Wyoming,6838,6809,6745
81555,157,56,45,56215,0,0,1,A,Newcastle city,Wyoming,...,56215,0,0,1,A,Newcastle city,Wyoming,3245,3232,3204
81556,157,56,45,79125,0,0,1,A,Upton town,Wyoming,...,79125,0,0,1,A,Upton town,Wyoming,926,922,913
81557,157,56,45,99990,0,0,1,F,Balance of Weston County,Wyoming,...,99990,0,0,1,F,Balance of Weston County,Wyoming,2667,2655,2628

In [17]:
population.columns

Index(['SUMLEV_x', 'STATE_x', 'COUNTY_x', 'PLACE_x', 'COUSUB_x', 'CONCIT_x',
       'PRIMGEO_FLAG_x', 'FUNCSTAT_x', 'NAME_x', 'STNAME_x', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019', 'POPESTIMATE042020',
       'POPESTIMATE2020_x', 'Indicator', 'SUMLEV_y', 'STATE_y', 'COUNTY_y',
       'PLACE_y', 'COUSUB_y', 'CONCIT_y', 'PRIMGEO_FLAG_y', 'FUNCSTAT_y',
       'NAME_y', 'STNAME_y', 'ESTIMATESBASE2020', 'POPESTIMATE2020_y',
       'POPESTIMATE2021'],
      dtype='object')

In [19]:
population = population[['Indicator', 'NAME_x', 'STNAME_x', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019', 'POPESTIMATE042020',
       'POPESTIMATE2020_x', 'POPESTIMATE2021']]

In [20]:
population

,Indicator,NAME_x,STNAME_x,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020_x,POPESTIMATE2021
0,40100000A,Alabama,Alabama,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4920706,4921532,5039877
1,16210124000A,Abbeville city,Alabama,2699,2694,2645,2629,2610,2602,2587,2578,2565,2555,2555,2553,2379
2,16210460000A,Adamsville city,Alabama,4481,4474,4453,4430,4399,4371,4335,4304,4285,4254,4224,4211,4294
3,16210484000A,Addison town,Alabama,751,750,745,744,742,734,734,728,725,723,719,717,668
4,16210676000A,Akron town,Alabama,355,347,347,344,338,338,335,332,332,328,328,327,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81553,157564399990001F,Balance of Washakie County,Wyoming,2782,2756,2735,2736,2691,2690,2654,2599,2556,2537,2514,2516,2667
81554,5056450000A,Weston County,Wyoming,7198,7142,7075,7132,7134,7202,7228,6962,6895,6880,6752,6743,6745
81555,157564556215001A,Newcastle city,Wyoming,3529,3504,3472,3475,3477,3502,3526,3398,3374,3378,3319,3314,3204
81556,157564579125001A,Upton town,Wyoming,1098,1091,1082,1091,1096,1105,1108,1062,1054,1054,1033,1032,913
81557,157564599990001F,Balance of Weston County,Wyoming,2571,2547,2521,2566,2561,2595,2594,2502,2467,2448,2400,2397,2628

In [ ]:
#Convert to dataframe to csv
#population.to_csv(r"./population", index=False, sep=',', decimal='.', encoding= "utf_8")