### US Weather Events (2016,2021)

https://www.kaggle.com/datasets/sobhanmoosavi/us-weather-events?resource=download

In [31]:
import pandas as pd
import os

In [32]:
df = pd.read_csv(os.path.join(os.getcwd(),'..','data','WeatherEvents_Jan2016-Dec2021.csv'))

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7479165 entries, 0 to 7479164
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   EventId            object
 1   Type               object
 2   Severity           object
 3   StartTime(UTC)     object
 4   EndTime(UTC)       object
 5   Precipitation(in)  float64
 6   TimeZone           object
 7   AirportCode        object
 8   LocationLat        float64
 9   LocationLng        float64
 10  City               object
 11  County             object
 12  State              object
 13  ZipCode            float64
dtypes: float64(4), object(10)
memory usage: 798.9+ MB

In [34]:
df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [35]:
df['EndTime(UTC)'] = pd.to_datetime(df['EndTime(UTC)'])
df['StartTime(UTC)'] = pd.to_datetime(df['StartTime(UTC)'])

In [36]:
df['Year'] = df['StartTime(UTC)'].dt.year

In [37]:
df['Month'] = df['StartTime(UTC)'].dt.month

In [38]:
df['dTime'] = df['EndTime(UTC)'] - df['StartTime(UTC)']

In [39]:
df['Hours'] = df.dTime.dt.seconds/3600.0

In [40]:
df2 = df.groupby(['Year','Month','State','County','City','Type'],as_index=False)[['Precipitation(in)','Hours']].sum()

In [41]:
df2.head()

,Year,Month,State,County,City,Type,Precipitation(in),Hours
0,2016,1,AL,Baldwin,Fairhope,Cold,0.00,2.333333
1,2016,1,AL,Baldwin,Fairhope,Fog,0.00,19.000000
2,2016,1,AL,Baldwin,Fairhope,Rain,5.13,45.666667
3,2016,1,AL,Baldwin,Foley,Fog,0.00,26.333333
4,2016,1,AL,Baldwin,Foley,Precipitation,0.55,0.666667

In [42]:
cities = pd.read_csv(os.path.join(os.getcwd(),'data','Zillow Economics Data','cities_crosswalk.csv'))

In [43]:
df3 = pd.merge(df2, cities, how = 'left', on=['State','County','City'])

In [44]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398056 entries, 0 to 398055
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               398056 non-null  int64
 1   Month              398056 non-null  int64
 2   State              398056 non-null  object
 3   County             398056 non-null  object
 4   City               398056 non-null  object
 5   Type               398056 non-null  object
 6   Precipitation(in)  398056 non-null  float64
 7   Hours              398056 non-null  float64
 8   Unique_City_ID     308804 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 30.4+ MB

In [45]:
df3.Unique_City_ID.fillna(df3.City+df3.County+df3.State,inplace=True)

In [46]:
df3.Unique_City_ID = df3.Unique_City_ID.astype(str).apply(lambda x: x.lower().replace(' ','_'))

In [47]:
df3.drop(['City','County','State'],axis=1,inplace=True)

In [49]:
df3.to_csv(os.path.join(os.getcwd(),'..','clean_data','weather_events.csv'),columns=['Unique_City_ID','Year', 'Month', 'Type', 'Precipitation(in)', 'Hours'],index=False)