In [1]:
import os

In [2]:
from functions.create_database import create_database
from functions.create_table import create_table
from functions.load_data import load_data

In [3]:
from private.my_aws_endpoint import my_aws_endpoint

In [4]:
create_database('housing_market',host=my_aws_endpoint,user='admin')

Database is created

### City

In [5]:
variables_city = 'IdCity VARCHAR(255) NOT NULL,City VARCHAR(255) NOT NULL,County VARCHAR(255) NOT NULL, State VARCHAR(255) NOT NULL,PRIMARY KEY(IdCity)'

In [6]:
create_table('housing_market','city',variables_city,host=my_aws_endpoint,user='admin')

Conecting to database:  ('housing_market',)
Creating table....
Table is created

In [9]:
load_data(os.path.join(os.getcwd(),'..','_clean_data','cities.csv'),'housing_market','city',host=my_aws_endpoint,user='admin')

Conecting to database:  ('housing_market',)
Insertando datos...

### Listing Price

In [7]:
variables_listing_prices = 'IdCity VARCHAR(255) NOT NULL,Date DATE NOT NULL,MedianListingPrice_1Bedroom DECIMAL(15,5) ,MedianListingPrice_2Bedroom DECIMAL(15,5),MedianListingPrice_3Bedroom DECIMAL(15,5),MedianListingPrice_4Bedroom DECIMAL(15,5),MedianListingPrice_5BedroomOrMore DECIMAL(15,5),MedianListingPrice_AllHomes DECIMAL(15,5),MedianListingPrice_CondoCoop DECIMAL(15,5),MedianListingPrice_DuplexTriplex DECIMAL(15,5),MedianListingPrice_SingleFamilyResidence DECIMAL(15,5)'

In [8]:
create_table('housing_market','listing_price',variables_listing_prices,host=my_aws_endpoint,user='admin')

Conecting to database:  ('housing_market',)
Creating table....
Table is created

In [9]:
load_data(os.path.join(os.getcwd(),'..','_clean_data','listing_prices.csv'),'housing_market','listing_price',host=my_aws_endpoint,user='admin')

Conecting to database:  ('housing_market',)
Insertando datos...

### Rental Price

In [53]:
variables_rental_prices = 'IdCity VARCHAR(255) NOT NULL,Date DATE NOT NULL,MedianRentalPrice_1Bedroom DECIMAL(10,5),MedianRentalPrice_2Bedroom DECIMAL(10,5),MedianRentalPrice_3Bedroom DECIMAL(10,5),MedianRentalPrice_4Bedroom DECIMAL(10,5),MedianRentalPrice_5BedroomOrMore DECIMAL(10,5),MedianRentalPrice_AllHomes DECIMAL(10,5),MedianRentalPrice_CondoCoop DECIMAL(10,5),MedianRentalPrice_DuplexTriplex DECIMAL(10,5),MedianRentalPrice_MultiFamilyResidence5PlusUnits DECIMAL(10,5),MedianRentalPrice_SingleFamilyResidence DECIMAL(10,5),MedianRentalPrice_Studio DECIMAL(10,5)'

In [54]:
create_table('housing_market','rental_price',variables_rental_prices,host=my_aws_endpoint,user='admin')

Conecting to database:  ('housing_market',)
Creating table....
Table is created

In [ ]:
load_data(os.path.join(os.getcwd(),'..','_clean_data','rental_prices.csv'),'housing_market','rental_price',host=my_aws_endpoint,user='admin')